

main {
    align-items: center;
    display: flex;
    background-color: #ffff;
    flex-direction: column;
    padding: 2em 0;
    width: 50%;
    padding-top: 1rem;
    margin: 1rem;
  }
  input {
    border: none;
    box-shadow: 0px 7px 9px 0px #a7a6a633;
    color: #555555;
    font-size: 14px;
    outline: none;
    padding: 0.4em 2em;
    width: 60%;
    border: 1px solid #d3cdcd;
  }
  .result-block {
    border-top: 3px solid red;
    animation: slide-in ease-in-out 0.8s;
    background-color: white;
    box-shadow: 0px 7px 9px 0px #a7a6a633;
    overflow: auto;
    padding: 2em 2em;
    width: 60%;
  }
  
  .item {
    animation: slide-in ease-in-out 0.8s;
    border-radius: 0.1em;
    color: #555555;
    cursor: pointer;
    font-style: italic;
    font-size: 14px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    padding: 0.6em 1em;
   
  }
  .item:hover{
    background: #a7a6a633;
    color: #a267ac;
  }
  .item.no-result {
    cursor: default;
    font-size: 1.5em;
    opacity: 0.5;
   
  }
  .item.no-result :hover {
    background: transparent;
    color: #555555;
  }
  
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-1.5em);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    main {
      padding-top: 7rem;
    }
    input {
      font-size: 1.5rem;
    }
   
    
    .item {
     
      font-size: 1.5rem;
    }
   
    
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}